p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.event-label{
  font-size: small;
  font-weight: bold;
}
.orange{
  color:#E8A736;
}
.purple{
  color:#903E97;
}
.request{
  color: #6F7276;
  font-style: italic;  
  font-weight: 300;
}